<!-- content -->
<div class="container">
  <div class="hero-unit">
    <i><h1>Your Pragmatic Catalog</h1></i>
  </div>
  
  <% cache ['store', Product.latest] do %>
  <div class="row">
    <% @products.each do |product| %>
      <% cache ['span4', product] do %>
      	<div class ="span4">
	      <center>
		    <%= image_tag(product.image_url, class: 'list_image') %></br>
		    <i><h4><%= product.title %>: <%= number_to_currency(product.price) %></h4></i>
        <%= button_to 'Add to Cart', line_items_path(product_id: product) %>
		  </center>
		  <%= sanitize(product.description) %>
	    </div>
	  <% end %>
	<% end %>
    <% end %>
  </div>
</div>
